[submodule "Tag_1/FSIBeamerTheme"]
	path = Tag_1/FSIBeamerTheme
	url = https://github.com/fsi-hska/fsibeamertheme.git
[submodule "Tag_2/FSIBeamerTheme"]
	path = Tag_2/FSIBeamerTheme
	url = https://github.com/fsi-hska/fsibeamertheme.git
[submodule "Tag_4/FSIBeamerTheme"]
	path = Tag_4/FSIBeamerTheme
	url = https://github.com/fsi-hska/fsibeamertheme.git
[submodule "Tag_3/FSIBeamerTheme"]
	path = Tag_3/FSIBeamerTheme
	url = https://github.com/fsi-hska/fsibeamertheme.git
[submodule "Tag_4/BahnticketAutomat"]
	path = Tag_4/BahnticketAutomat
	url = https://github.com/fsi-hska/fsiBahnticketAutomat.git
